.credentials-page {
  gap: 26px;

  &__eyes-form {
    background: linear-gradient(to bottom, #0080ff, #010c80, #ffffff);
  }

  &__redirection {
    font-weight: 700;
    background-color: white;
    text-align: center;
  }

  &__link {
    color: #0080ff;
  }
}
